body, p, ul {
    margin: 0;
}

ul {
    padding-left: 0;
    margin-bottom: 0;
}

li {
    list-style: none;
}

.clearfix:after {
    display: block;
    content: "";
    clear: both;
    height: 0;
}

#app {
    width: 100vw;
    height: 100vh;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.col_red {
    color: #E74C3C
}

.marR-20 {
    margin-right: 20px
}

.marB-10 {
    margin-bottom: 10px
}